.course-main {
    background-image: url(../img/gallery/bg-img2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover ;
    background-size: cover ;

    width: 100%;
    height: 900px;
    margin-top: -22px;
    padding-top: 70px;
}
.course-main .course-image {
    display: inline-block;
    margin-top: 100px;
}

.course-main .course-image img{
    width: 100%;
}
.course-main .course-title{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    margin-left: 10px;
    height: 300px;
}
.course-main .course-title h1{
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}
.course-main .course-title p{
}
.course-main .course-title span{
    font-weight: 800;
}

.course-main .course-funfact{
    background: transparent;
    text-align: center;
}
.course-main .course-funfact .single-facts{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    color: white;
}
.course-main .course-funfact .single-facts i{
    color: white;
}
.course-main .course-funfact .single-facts h1::before{
    background-color: #fff;
}
.course-main .course-funfact .single-facts p{
    line-height: 1.6;
}

/* Large Desktop */
@media (min-width: 1245px) and (max-width: 1400px){
    .course-main {
        height: 900px;
    }
    .course-main .course-image {
        margin-left: 100px;
        width: 700px;
    }
    .course-main .course-title{
        margin-top: 150px;
        width: 400px;
    }
    .course-main .course-title h1{
        font-size: 6rem;
    }
    .course-main .course-title p{
        font-size: 1.8rem;
    }
    .course-main .course-title span{
        font-size: 3rem;
    }
    .course-main .course-funfact .single-facts{
        width: 300px;
    }
}

/* Normal Desktop */
@media (min-width: 1037px) and (max-width: 1244px){
    .course-main {
        height: 900px;
    }
    .course-main .course-image {
        margin-left: 100px;
        width: 600px;
    }
    .course-main .course-title{
        margin-top: 100px;
        width: 300px;
    }
    .course-main .course-title h1{
        font-size: 6rem;
    }
    .course-main .course-title p{
        font-size: 1.8rem;
    }
    .course-main .course-title span{
        font-size: 3rem;
    }
    .course-main .course-funfact .single-facts{
        width: 250px;
    }
}

/* Tablet Desktop */
@media (min-width: 991px) and (max-width: 1036px){
    .course-main {
        height: 850px;
    }
    .course-main .course-image {
        margin-left: 100px;
        width: 500px;
    }
    .course-main .course-title{
        margin-top: 50px;
        width: 300px;
    }
    .course-main .course-title h1{
        font-size: 6rem;
    }
    .course-main .course-title p{
        font-size: 1.8rem;
    }
    .course-main .course-title span{
        font-size: 3rem;
    }
    .course-main .course-funfact .single-facts{
        width: 200px;
    }
}


/* Middle Desktop */
@media (min-width: 768px) and (max-width: 990px){
    .course-main {
        height: 700px;
    }
    .course-main .course-image {
        margin-left: 100px;
        width: 400px;
        margin-bottom: 50px;
    }
    .course-main .course-title{
        margin-top: 50px;
        width: 250px;
    }
    .course-main .course-title h1{
        font-size: 4rem;
    }
    .course-main .course-title p{
        font-size: 1.4rem;
    }
    .course-main .course-title span{
        font-size: 2.5rem;
    }
    .course-main .course-funfact .single-facts{
        width: 180px;
    }
}

/* Large Mobile Desktop:480px. */
@media (min-width: 481px) and (max-width: 767px){
    .course-main {
        height: 1000px;
    }
    .course-main .course-image {
        margin-left: 40px;
        width: 400px;
    }
    .course-main .course-title{
        margin-left: 120px;
        width: 250px;
    }
    .course-main .course-title h1{
        font-size: 4rem;
    }
    .course-main .course-title p{
        font-size: 1.4rem;
    }
    .course-main .course-title span{
        font-size: 2.5rem;
    }
    .course-main .course-funfact .single-facts{
        width: 180px;
    }
}