.features{
    vertical-align: top;
    width: 100%;
    background-color: rgb(245, 242, 242);
}


/* Features wrapper */
.features-wrapper{
    display: inline-block;
}
.features-1{
    text-align: right;
}
.features-2{
    text-align: left;
}
.single-feature{
    height: 100px;
}
.text h4{
    font-size: 1.3rem;
    margin-bottom: 0;
}
.text p{
    margin-top: 5px;
    line-height: 1.4;
}
.feature-image{
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
}
.feature-image img{
    width: 100%;
}
.fix-2{
    padding-left: 40px;
}
.fas{
    position: absolute;    
    font-family: 'FontAwesome';
    font-size: 2rem;
    color: #d8c835;
    font-style: normal;
}
.fa-file, .fa-car{
    margin-top: 20px;
    margin-left: 10px;
}
.fa-film{
    margin-top: 10px;
    margin-left: 10px;
}
.fa-user{
    margin-top: 20px;
}
.fa-bullseye, .fa-hourglass-half{
    margin-top: 10px;
}