.pric-area{
    background: url(../img/section-bg/pricing.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover ;
    background-size: cover ;
    padding-top: 30px;
}
.pricing-slider {
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 100px;
    padding: 50px 0 100px 0;
    }
    
    .pricing-wrapper {
    display: flex;
    transition: transform 0.6s ease;
    margin: 0 50px;
    }
    .pric-item{
        padding-left: 10px;
    }
    
    
    @media (min-width: 576px) {
    .pric-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    }
    
    @media (min-width: 992px) {
    .pric-item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    }
    
    @media (min-width: 1200px) {
    .pric-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
    }
    
    .pric__control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    bottom: 0;
    height: 50px;
    vertical-align: top;
    top: 50%;
    }
    
    .pric__control:hover,
    .pric__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    }
    
    .pric__control_left {
    left: 0;
    }
    
    .pric__control_right {
    right: 0;
    }
    
    .pric__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    }
    
    .pric__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
    
    .pric__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    
    .pric-content{
        width: 250px;
    }
    .pric-content-header {
    position: relative;
    width: 100%;
    background-color: #3e3e3e;;
    }
    .pric-content-header p {
        color: white;
        display: block;
        height: auto;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 0;
    }
    .pric-content-middle{
        display: block;
        color: rgb(211, 209, 209);
        background-color: rgba(0, 0, 0, 0.4);
        width:  100%;
        height: 100px;
        margin-top: -23px;
        text-align: center;
        color: white;
        padding: 50px 0 100px 0;
    }
    .pric-content-middle p{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .pric-content-middle span{
        line-height: 2;
    }
    .pric-content-bottom{
        width: 100%;
        background-color: #3e3e3e;;
    }
    .pric-content-bottom button{
        color: white;    
        border: none;
        width: 100%;
        padding: 10px 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        background-color: transparent;
        outline: none;
    }
    .pric-content:hover{
        background-color: rgba(252, 252, 3, 0.678);
    }
