@media (min-width: 1200px) and (max-width: 1274px){
    .main-header{
        width: 900px;
    }
    #navbar{
        margin-left: 180px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .title-block{
        margin-top: 200px;
        margin-left: 640px;
    }
    .main-header{
        width: 700px;
    }
    #navbar{
        margin-left: 100px;
    }
    #navbar>li{
        margin-left: 10px;
    }
}